/* styles.css */

$white: #ffffff;
$grey: #636363;
$orchid: #D966E1;
$faded-lime: #80FF97;
$green: #00801D;
$blue-zodiac: #0D2746;
$transparent: rgba(0, 0, 0, 0);
$body-fonts: 'GothamRounded-Book',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$display-fonts: 'GothamRounded-Light',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$title-size: 3em;
$title-weight: 200;
@mixin title($display-fonts, $white, $title-size, $title-weight) {
    font-family: $display-fonts;
    font-size: $title-size;
    font-weight: $title-weight;
    color: $white;
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }
    :-moz-placeholder {
        @content
    }
    ::-moz-placeholder {
        @content
    }
    :-ms-input-placeholder {
        @content
    }
}

body {
    font-family: $body-fonts;
    background-color: $blue-zodiac;
    color: $faded-lime;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.75em;
}

button,
.button,
a,
.close-button {
    cursor: pointer;
}

a {
    color: $orchid;
}

h1 {
    @include title($display-fonts, $white, $title-size, $title-weight);
    margin: 40px 0;
}

p {
    margin-top: 25px;
}

header {
    font-family: $display-fonts;
    .window {
        position: absolute;
        z-index: -10;
        top: 12vh;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0.3;
        min-width: 150px;
        max-width: 500px;
    }
}

nav > ul {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
}

nav > ul > li {
    list-style: none;
    text-decoration: none;
    padding: 25px 15px;
    width: 125px;
}

.menu-item > a {
    text-decoration: none;
    color: white;
    &:hover {
        color: $faded-lime;
    }
    &.active {
        //this needs additional js to work
        color: $grey;
    }
}

.hero,
.info-buttons {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.hero {
    height: auto;
}

.splash,
h1 {
    flex: 1 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.info-buttons {
    flex: 1 100%;
    margin-bottom: 50px;
}

.splash {
    margin-top: 70px;
    .logo {
        max-width: 185px;
    }
    .title {
        max-width: 700px;
        margin: 70px 0;
    }
}

button,
.button {
    height: 45px;
    width: 200px;
    border-radius: 7px;
    border: none;
    background-color: $faded-lime;
    box-shadow: 0 5px 0 $green;
    margin: 0 15px;
    color: $blue-zodiac;
    font-family: $body-fonts;
    font-size: 1em;
    &.secondary {
        background-color: $transparent;
        border: 1px solid darken($faded-lime, 10%);
        color: $white;
    }
    &:active {
        box-shadow: none;
        transform: translateY(5px);
    }
    &:visited {
        box-shadow: none;
        transform: translateY(5px);
    }
}

.overlay {
    background-color: $blue-zodiac;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
    z-index: 0;
    visibility: hidden;
    height: 100vh;
    width: 100%;
    .close-button {
        position: absolute;
        top: 30px;
        right: 30px;
        height: 30px;
        width: 30px;
    }
}

#mc_embed_signup {
    width: 600px;
    height: auto;
    padding-bottom: 25px;
    background-color: $blue-zodiac;
    border-radius: 10px;
    box-shadow: 0 5px 15px darken($blue-zodiac, 75%);
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    top: 35vh;
    left: -5000;
    right: 0;
    margin: auto;
    z-index: 10;
    #mc_embed_signup_scroll {
        width: 100%;
        color: $blue-zodiac;
    }
    .mailer-subscribe {
        float: left;
    }
    .signup-header {
        background-color: $orchid;
        height: 70px;
        width: 100%;
        h2 {
            @include title($display-fonts, inherit, 1.75em, $title-weight) padding: 20px 0 35px 0;
            width: 100%;
            color: $white;
            text-align: center;
            display: block;
        }
    }
    .indicates-required {
        height: auto;
        text-align: right;
        margin-right: 75px;
        padding-bottom: 20px;
        display: block;
        color: $white;
    }
    .asterisk {
        color: red;
    }
    .mc-field-group {
        width: 100%;
        margin-bottom: 20px;
        color: $white;
        &.initial {
            padding-top: 25px;
        }
        label {
            width: 500px;
            margin-left: 75px;
        }
        input {
            height: 30px;
            width: 300px;
            border: none;
            border-radius: 5px;
            outline: none;
            float: right;
            margin-right: 75px;
            font-family: $body-fonts;
            font-size: 1em;
            text-indent: 10px;
            color: $orchid;
        }
        @include placeholder {
            color: lighten($orchid, 25%);
            text-indent: 10px;
        }
    }
    .button {
        float: right;
        margin-right: 75px;
    }
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    div {
        width: 50%;
    }
}

@media screen and (max-width: 745px) {
    .splash {
        margin-top: 70px;
        .logo {
            width: 150px;
        }
        .title {
            min-width: 350px;
            margin: 70px 30px;
        }
    }

    main div {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    header .window {
        margin: 0 15px;
    }
}

@media screen and (max-width: 459px) {
    .primary {
        margin-top: 15px;
    }

    .splash .title {
        margin: 30px;
    }

}
