/* styles.css */

$white: #ffffff;
$grey: #636363;
$orchid: #D966E1;
$faded-lime: #80FF97;
$palm-leaf: #153D13;
$congress-blue: rgba(2, 18, 137, 0.95);
$transparent: rgba(0,0,0,0);

$body-fonts: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
$display-fonts: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title-size: 3em;
$title-weight: 200;

@mixin title($display-fonts, $white, $title-size, $title-weight){
    font-family: $display-fonts;
    font-size: $title-size;
    font-weight: $title-weight;
    color: $white;
}
    
body {
    font-family: $body-fonts;
    color: $congress-blue;
}

h1 {
    @include title($display-fonts, $white, $title-size, $title-weight)
}

header {
    background: linear-gradient($congress-blue, $congress-blue), url("../images/scotland.png");
    background-size: cover;
    font-family: $display-fonts;
}

nav > ul {
    display: flex;
    justify-content: center;
    text-align: center;
}

nav >  ul > li {
    list-style: none;
    text-decoration: none;
    padding: 25px 15px;
    width: 125px;
}

.menu-item > a {
  text-decoration: none;
  color: white;
  &:hover {
    color: $faded-lime;
  }
  &.active { //this needs additional js to work
    color: $grey;
  }
}

.hero, .info-buttons {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.hero {
    height: 500px;
}

.logo, h1 {
    flex: 1 100%;
    display: flex;
    justify-content: center;
}

.info-buttons {
    flex: 1 100%;
}

.logo > object {
    width: 150px;
    height: 150px;
    margin-top: 100px
}

button {
    height: 45px;
    width: 200px;
    border-radius: 7px;
    border: none;
    background-color: $faded-lime;
    box-shadow: 0 5px 0 darken($faded-lime, 50%);
    margin: 0 15px;
    color: $congress-blue;
    font-family: $body-fonts;
    font-size: 1em;
    &.secondary {
        background-color: $transparent;
        border: 1px solid darken($faded-lime, 25%);
        color: $white;
    }
    &:active {
        box-shadow: none;
        transform: translateY(5px);
    }    
    &:visited {
        box-shadow: none;
        transform: translateY(5px);
    }

}

.when {
    background: $white;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    h2 {
        flex: 1 100%;
    }
    div {
        display: flex;
    }
}