/* styles.css */
body {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(2, 18, 137, 0.95); }

h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 200;
  color: #ffffff; }

header {
  background: linear-gradient(rgba(2, 18, 137, 0.95), rgba(2, 18, 137, 0.95)), url("../images/scotland.png");
  background-size: cover;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

nav > ul {
  display: flex;
  justify-content: center;
  text-align: center; }

nav > ul > li {
  list-style: none;
  text-decoration: none;
  padding: 25px 15px;
  width: 125px; }

.menu-item > a {
  text-decoration: none;
  color: white; }
  .menu-item > a:hover {
    color: #80FF97; }
  .menu-item > a.active {
    color: #636363; }

.hero, .info-buttons {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center; }

.hero {
  height: 500px; }

.logo, h1 {
  flex: 1 100%;
  display: flex;
  justify-content: center; }

.info-buttons {
  flex: 1 100%; }

.logo > object {
  width: 150px;
  height: 150px;
  margin-top: 100px; }

button {
  height: 45px;
  width: 200px;
  border-radius: 7px;
  border: none;
  background-color: #80FF97;
  box-shadow: 0 5px 0 #008017;
  margin: 0 15px;
  color: rgba(2, 18, 137, 0.95);
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }
  button.secondary {
    background-color: transparent;
    border: 1px solid #01ff2f;
    color: #ffffff; }
  button:active {
    box-shadow: none;
    transform: translateY(5px); }
  button:visited {
    box-shadow: none;
    transform: translateY(5px); }

.when {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap; }
  .when h2 {
    flex: 1 100%; }
  .when div {
    display: flex; }
