/* styles.css */
body {
  font-family: "GothamRounded-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #0D2746;
  color: #80FF97;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.75em; }

a {
  color: #D966E1; }

h1 {
  font-family: "GothamRounded-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 200;
  color: #ffffff;
  margin: 40px 0; }

p {
  margin-top: 25px; }

header {
  background: linear-gradient(#0D2746, #0D2746), url("../images/scotland.png");
  background-size: cover;
  font-family: "GothamRounded-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }

nav > ul {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap; }

nav > ul > li {
  list-style: none;
  text-decoration: none;
  padding: 25px 15px;
  width: 125px; }

.menu-item > a {
  text-decoration: none;
  color: white; }
  .menu-item > a:hover {
    color: #80FF97; }
  .menu-item > a.active {
    color: #636363; }

.hero, .info-buttons {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center; }

.hero {
  height: auto; }

.splash, h1 {
  flex: 1 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }

.info-buttons {
  flex: 1 100%;
  margin-bottom: 50px; }

.splash {
  margin-top: 70px; }
  .splash .logo {
    width: 185px; }
  .splash .title {
    width: 500px;
    height: 150px;
    margin: 70px 0; }

button,
.button {
  height: 45px;
  width: 200px;
  border-radius: 7px;
  border: none;
  background-color: #80FF97;
  box-shadow: 0 5px 0 #008017;
  margin: 0 15px;
  color: #0D2746;
  font-family: "GothamRounded-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }
  button.secondary,
  .button.secondary {
    background-color: transparent;
    border: 1px solid #4dff6d;
    color: #ffffff; }
  button:active,
  .button:active {
    box-shadow: none;
    transform: translateY(5px); }
  button:visited,
  .button:visited {
    box-shadow: none;
    transform: translateY(5px); }

.overlay {
  background-color: #0D2746;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.75;
  z-index: 0;
  visibility: hidden;
  height: 100vh;
  width: 100%; }
  .overlay .close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px; }

#mc_embed_signup {
  width: 600px;
  height: auto;
  padding-bottom: 25px;
  background-color: #0D2746;
  border-radius: 10px;
  box-shadow: 0 5px 15px black;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  top: 35vh;
  left: -2000;
  right: 0;
  margin: auto;
  z-index: 10; }
  #mc_embed_signup #mc_embed_signup_scroll {
    width: 100%;
    color: #0D2746; }
  #mc_embed_signup .mailer-subscribe {
    float: left; }
  #mc_embed_signup .signup-header {
    background-color: #D966E1;
    height: 70px;
    width: 100%; }
    #mc_embed_signup .signup-header h2 {
      font-family: "GothamRounded-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.75em;
      font-weight: 200;
      color: inherit;
      padding: 20px 0 35px 0;
      width: 100%;
      color: #ffffff;
      text-align: center;
      display: block; }
  #mc_embed_signup .indicates-required {
    height: auto;
    text-align: right;
    margin-right: 75px;
    padding-bottom: 20px;
    display: block;
    color: #ffffff; }
  #mc_embed_signup .asterisk {
    color: red; }
  #mc_embed_signup .mc-field-group {
    width: 100%;
    margin-bottom: 20px;
    color: #ffffff; }
    #mc_embed_signup .mc-field-group.initial {
      padding-top: 25px; }
    #mc_embed_signup .mc-field-group label {
      width: 500px;
      margin-left: 75px; }
    #mc_embed_signup .mc-field-group input {
      height: 30px;
      width: 300px;
      border: none;
      border-radius: 5px;
      outline: none;
      float: right;
      margin-right: 75px;
      font-family: "GothamRounded-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1em;
      text-indent: 10px;
      color: #D966E1; }
    #mc_embed_signup .mc-field-group ::-webkit-input-placeholder {
      color: #f3d1f6;
      text-indent: 10px; }
    #mc_embed_signup .mc-field-group :-moz-placeholder {
      color: #f3d1f6;
      text-indent: 10px; }
    #mc_embed_signup .mc-field-group ::-moz-placeholder {
      color: #f3d1f6;
      text-indent: 10px; }
    #mc_embed_signup .mc-field-group :-ms-input-placeholder {
      color: #f3d1f6;
      text-indent: 10px; }
  #mc_embed_signup .button {
    float: right;
    margin-right: 75px; }

main {
  display: flex;
  justify-content: center;
  text-align: center; }
  main div {
    width: 35%; }
