body {
  background-color: #0d2746;
  color: #80ff97;
  font-family: "GothamRounded-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.75em; }

button,
.button,
a,
.close-button {
  cursor: pointer; }

a {
  color: #d966e1; }

h1 {
  font-family: "GothamRounded-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 200;
  color: #fff;
  margin: 40px 0; }

p {
  margin-top: 25px; }

header {
  font-family: "GothamRounded-Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  header .window {
    left: 0;
    margin: auto;
    max-width: 500px;
    min-width: 150px;
    opacity: .3;
    position: absolute;
    right: 0;
    top: 12vh;
    z-index: -10; }

nav > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center; }
  nav > ul li {
    list-style: none;
    padding: 25px 15px;
    text-decoration: none;
    width: 125px; }

.hero,
.info-buttons {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center; }

.hero {
  height: auto; }

.splash,
h1 {
  align-items: center;
  display: flex;
  flex: 1 100%;
  flex-flow: column;
  justify-content: center; }

.info-buttons {
  flex: 1 100%;
  margin-bottom: 50px; }

.splash {
  margin-top: 70px; }
  .splash .logo {
    max-width: 185px; }
  .splash .title {
    margin: 70px 0;
    max-width: 700px; }

button,
.button {
  background-color: #80ff97;
  border: 0;
  border-radius: 7px;
  box-shadow: 0 5px 0 #00801d;
  color: #0d2746;
  font-family: "GothamRounded-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 45px;
  margin: 0 15px;
  width: 200px; }
  button.secondary,
  .button.secondary {
    background-color: transparent;
    border: 1px solid #4dff6d;
    color: #fff; }
  button:active,
  .button:active {
    box-shadow: none;
    transform: translateY(5px); }
  button:visited,
  .button:visited {
    box-shadow: none;
    transform: translateY(5px); }

.overlay {
  background-color: #0d2746;
  bottom: 0;
  height: 100vh;
  left: 0;
  opacity: .75;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 0; }
  .overlay .close-button {
    height: 30px;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 30px; }

#mc_embed_signup {
  background-color: #0d2746;
  border-radius: 10px;
  box-shadow: 0 5px 15px black;
  height: auto;
  left: -5000;
  margin: auto;
  overflow: hidden;
  padding-bottom: 25px;
  position: absolute;
  right: 0;
  top: 35vh;
  visibility: hidden;
  width: 600px;
  z-index: 10; }
  #mc_embed_signup #mc_embed_signup_scroll {
    color: #0d2746;
    width: 100%; }
  #mc_embed_signup .mailer-subscribe {
    float: left; }
  #mc_embed_signup .signup-header {
    background-color: #d966e1;
    height: 70px;
    width: 100%; }
    #mc_embed_signup .signup-header h2 {
      font-family: "GothamRounded-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1.75em;
      font-weight: 200;
      color: inherit;
      color: #fff;
      display: block;
      padding: 20px 0 35px;
      text-align: center;
      width: 100%; }
  #mc_embed_signup .indicates-required {
    color: #fff;
    display: block;
    height: auto;
    margin-right: 75px;
    padding-bottom: 20px;
    text-align: right; }
  #mc_embed_signup .asterisk {
    color: #f00; }
  #mc_embed_signup .mc-field-group {
    color: #fff;
    margin-bottom: 20px;
    width: 100%; }
    #mc_embed_signup .mc-field-group ::-webkit-input-placeholder {
      color: #f3d1f6;
      text-indent: 10px; }
    #mc_embed_signup .mc-field-group ::-moz-placeholder {
      color: #f3d1f6;
      text-indent: 10px; }
    #mc_embed_signup .mc-field-group ::-moz-placeholder {
      color: #f3d1f6;
      text-indent: 10px; }
    #mc_embed_signup .mc-field-group :-ms-input-placeholder {
      color: #f3d1f6;
      text-indent: 10px; }
    #mc_embed_signup .mc-field-group.initial {
      padding-top: 25px; }
    #mc_embed_signup .mc-field-group label {
      margin-left: 75px;
      width: 500px; }
    #mc_embed_signup .mc-field-group input {
      border: 0;
      border-radius: 5px;
      color: #d966e1;
      float: right;
      font-family: "GothamRounded-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1em;
      height: 30px;
      margin-right: 75px;
      outline: none;
      text-indent: 10px;
      width: 300px; }
  #mc_embed_signup .button {
    float: right;
    margin-right: 75px; }

main {
  display: flex;
  justify-content: center;
  text-align: center; }
  main div {
    width: 50%; }

@media screen and (max-width: 745px) {
  .splash {
    margin-top: 70px; }
    .splash .logo {
      width: 150px; }
    .splash .title {
      margin: 70px 30px;
      min-width: 350px; }
  main div {
    width: 90%; } }

@media screen and (max-width: 500px) {
  header .window {
    margin: 0 15px; } }

@media screen and (max-width: 459px) {
  .primary {
    margin-top: 15px; }
  .splash .title {
    margin: 30px; } }
